.wrapper {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
}
.header {
  box-sizing: border-box;
  background-image: url(..//images/bg1.jpg);
  height: 100%;
  width: 100%;
}
.content {
  box-sizing: border-box;
  height: 40%;
  background-color: #fff;
}
.dial {
  box-sizing: border-box;
  background-image: url(..//images/bg2.jpg);
  height:30%;
  width: 100%;
}
.tree{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(..//images/bg3.jpg);
  height:50%;
  width: 100%;
}
.bridge{
  box-sizing: border-box;
  background-image: url(..//images/bg4.jpg);
  height:50%;
  width: 100%;
}
.logo{
  padding: calc(25%) 0 0 calc(10%);
}
.name{
  color: #fff;
}
.name h1{
  font-family: Montserrat;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;
}
.name p{
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
}
.slogan{
  display: flex;
  align-items: flex-start;
  padding-top:15px;
}
.we{
  display: inline-block;
  font-family: Montserrat;
  color:  #f1ad1d;
  font-size: 54px;
  font-weight: 700;
  width: 152px;
  background-color: #fff;
  text-align: center;
  line-height: 129px;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.anotherPart{
  display: inline-block;
  height: 129px;
  background-color: rgba(0,0,0,0.5);
  border: 1px solid #fff;
  font-size: 54px;
  font-weight: 700;
  color: #fff;
  line-height: 129px;
  text-transform: uppercase;
  padding: 0 20px 0 30px;
}
.mainParagraph{
  text-align: center;
  font-family: Montserrat;
  color:  #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  padding-top: 50px;
  text-transform: uppercase;
}
.secondaryParagraph{
  font-family: Lato;
  color:  #4d4943;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;
}
.yellowStick{
  margin: 0 auto;
  text-align: center;
  width:60px;
  height:30px;
  border-bottom: 3px #f1ad1d solid;
}
.bg{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg .mainParagraph{
  color: #fff;
}
.bg .secondaryParagraph{
  color: #fff;
}
.companies{
  height: 50vh;
  width: 60vw;
  display: flex;
  align-items:center;
}
.company{
  width: 210px;
  height: 60px;
  padding: 0 40px 0 0;
}
.link {
  font-family: Lato;

  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-top: 10px;

}
a{
  color:  #f1ad1d;
  text-decoration: none;
}
.emptySpace{
  margin: 0 auto;
  text-align: center;
  width:60px;
  height:30px;
}
.whitestick{
  margin: 0 auto;
  text-align: center;
  width:281px;
  height:30px;
  border-bottom: 3px #fff solid;
}
